<h1>Login!</h1>
<form action="/login" method="POST">

    <input type="radio" name="grocery" value="Grocery" checked> Grocery<br>
    <input type="radio" name="foodpantry" value="Food Pantry">Food Pantry<br>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login!"

</form>