<h1>Sign Up!</h1>

<form action="/register" method="post">
    
    <input type="radio" name="grocery" value="Grocery" checked> Grocery<br>
    <input type="radio" name="foodpantry" value="Food Pantry">Food Pantry<br>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign up</button>


</form>